/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    background-color: black;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}
/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    body * {
        font-size: 1.05rem;
    }    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    body * {
        font-size: 1.10rem;
    }            
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    body * {
        font-size: 1.15rem;
    }        
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    body * {
        font-size: 1.20rem;
    }        
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    body * {
        font-size: 1.25rem;
    }    
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    background-color: black;
    color: white;
    z-index: 8;
    position: relative;
}

header .btn {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 1em;
    background-color: white;
    color: black !important;
}

.sig-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 3em;
}

    .sig {
        max-height: 2em;
    }

    .sig-box p {
        font-size: 0.7em;
        font-weight: bold;
        text-align: center;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

header .btn:link, header .btn:visited, header .btn:active {
    background-color: white;
    color: black;
}

header .btn:hover {
    background-color: #E8B130 !important;
}

.sig-box {
    height: 4em;
}

    .sig {
        max-height: 3em;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
    }    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    
}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

#menu-button-container {
    display: none;  
}

.navbar {
    position: relative;
    padding: 0;
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}

.active a {
    color: #E8B130 !important;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
    color: white;
    font-size: 1.1em;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

.navbar-collapse {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
}

    .navbar-collapse a {
        margin-left: 0;
    }

.navbar-nav {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.nav-item {
    text-align: center;
}

.nav-item a:hover {
    color: #E8B130 !important;
}

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

.navbar {
position: relative;
padding: 0;
z-index: 0;
display: inline-flex;
justify-items: center;
align-items: center;
}

    #menu {
        display: none;
    }

.navbar-collapse {
    display: flex;
    flex-flow: column wrap;
    background: none;
    background-color: hsla(0,0%,0%,0.4);
}

    .navbar-collapse .btn {
        margin: 0;
        padding: 0;
        display: none;
    }

    .navbar-nav {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

        .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
            color: white;
            font-size: 1.1em;
        }

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    background-color: white;
    font-family: 'Asar', serif;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    color: black;
}

    main p {
        font-size: 1.05em;
    }

    main h3 {
        font-size: 1.3em;
    }

    main h4 {
        font-size: 1.3em;
    }

.link {
    font-weight: bold;
}

.link:link {
    color: #E8B130;
}

.link:visited {
color: #E8B130;
}

.link:hover {
    color: #E8B130;
    text-decoration: none;
}

.link:active {
    color: #E8B130; 
}

.img_container {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
}

.img_container #profile {
    width: 100%;
    border-radius: 50%;
}

.img_container img {
    width: 100%;
    border-radius: 1%;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

.img_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main p {
    font-size: 1.05em;
}

main h3 {
    font-size: 1.3em;
}

main h4 {
    font-size: 1.3em;
}

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
    main p {
        font-size: 1.10em;
    }

    main h3 {
        font-size: 1.35em;
    }

    main h4 {
        font-size: 1.5em;
    }
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
    main p {
        font-size: 1.05em;
    }

    main h3 {
        font-size: 1.3em;
    }

    main h4 {
        font-size: 1.3em;
    }

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
    main p {
        font-size: 1.05em;
    }

    main h3 {
        font-size: 1.3em;
    }

    main h4 {
        font-size: 1.3em;
    }

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
    
    main p {
        font-size: 1.05em;
    }

    main h3 {
        font-size: 1.3em;
    }

    main h4 {
        font-size: 1.3em;
    }

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

.footer {
    font-size: 1em;
    color: white;
    margin-top: 1em;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-info {
    text-align: center;
}

.footer-button {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

/*Social Media - Footer*/
.footer-social_media {
    position:relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
  }

  .footer-social_media i {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    text-align: center;
    font-size: 1.8em;
    color: white;
  }
  
  .footer-social_media i:link, .footer-social_media i:visited, .footer-social_media i:active{
    cursor:pointer;
    color: white;
  }
  
  .footer-social_media i:hover{
    cursor:pointer;
    color: #E8B130;
  }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}





/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
html {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
    background: black;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#E8B130;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: black;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}