/*Smaller than small*/
@media only screen and (max-width: 576px){
    .site-title {
        font-size: 0.9em;
    }

    p {
        font-size: 1.2em;
    }

    .test_image-container {
        height: 70vh !important;
    }

    .tt_sub-cont {
        height: 90%;
    }

    .test_image-vertical {
        width: auto;
        max-height: 100%;
    }
}

/*Smaller than medium screens*/
@media only screen and (max-width: 768px){
    .social_media-row {
        display: none;
    }

    .site-title {
        text-align: center;
    }

    .navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-collapse {
        border: #2A3027 0.5vh solid;
    }

    .nav-item {
        display: flex;
        margin: 0;
      }

      .nav-item a {
        text-align: center;
        width: 100%;
      }

      .navbar-toggler{
        background-color: #2A3027;
        margin-bottom: 2vh;
        width: 40vw;
      }
}

@media only screen and (min-width: 768px){
    .nav-item:hover a {
        color:#E8B130;
    }
}

@media only screen and (max-width: 992px){
    .test_image-vertical {
        height: auto;
        max-width: 100%;
    }
}


/*larger than large screens*/
@media only screen and (min-width: 992px){
    p {
        font-size: 1.1em;
    }

    a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1200px){
    p {
        font-size: 1.2em;
    }     

    a {
        font-size: 1.2em;
    }
}

html {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 15px;
    background: black;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#E8B130;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: #2A3027;
}

* {
    box-sizing: border-box;   
    font-family: 'Abel', sans-serif;
}

body {
    background-color: white;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    height: 100%;
}

.btn {
    background-color: #2A3027;
    color: #D0DACC;
    border: none;
}

.btn:hover {
    background-color: #2A3027;
    color: #E8B130;
    cursor: pointer;
}

/*----------------------------Header--------------------------------------------------------------------------------*/
    
.site-header {
    text-transform: lowercase;
}

.name {
    text-transform: lowercase;
}
  
    .name span {
        color: #E8B130;
    }

.site-title {
    font-size: 1.9rem;
    padding-top: 1vh;
    color: #8f918e;
}

.navbar-collapse {
    margin-left: 0;
    background-color: #2A3027;
    border-radius: 0 0 30px 30px;
}

.active a { 
    color: #D0DACC;
}

/*I determined how to customize the navbar toggler using the following two websites:
    https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/
    and
    https://github.com/yui/yuicompressor/issues/274
*/
          
.custom-toggler .navbar-toggler {
    border-color: #2A3027;
}

.custom-toggler .navbar-toggler-icon {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(208, 218, 204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

    .nav-item {
      text-align: center;
    }

        .nav-item a {
            color: #D0DACC;
        }

        .nav-item a:hover {
            color: #E8B130;
        }

    .nav-link {
      font-size: 1.2rem;
      color: #D0DACC;
      border-top: solid #2A3027 1px;
    }

    .nav-link:hover {
        border-top: solid #E8B130 1px;
    }

/*Social Media - Aside*/
#social_media {
    position:fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.25vh;
    top: 3vh;
    left: 87vw;
    background-color: #2A3027;
    border-radius: 1.5vh;
    z-index: 30;
  }

  #social_media i {
    padding: 0.75vh;
    text-align: center;
    font-size: 1.2rem;
    color: #D0DACC;
  }
  
  #social_media i:hover{
    cursor:pointer;
    color: #E8B130;
  }
 
/*--------------------------Main------------------*/
/*Page Header*/

.page-title {
    color: #D0DACC;
    background-color: #2A3027;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
} 

.sign_up_button {
    background-color: #D0DACC;
    color: #2A3027;
}

.sign_up_button:hover {
    background-color: #E8B130;
    color: #2A3027;
}

.side_photo {
    width: 100%;
    height: auto;
}

.session-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.session_info {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*----------------------------Footer--------------------------------------------------------------------------------*/

footer .btn {
    background-color: #2A3027;
    color: #D0DACC;
}

footer .btn:hover {
    background-color: #2A3027;
    color: #E8B130;
    cursor: pointer;
}

.footer {
    border-top: 1px #53614D solid;
    font-size: 0.8rem;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.footer-info {
    text-align: center;
}

.footer-button {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

/*Social Media - Footer*/
.footer-social_media {
    position:relative;
    background-color: #2A3027;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
  }

  .footer-social_media i {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    text-align: center;
    font-size: 1.5rem;
    color: #D0DACC;
  }
  
  .footer-social_media i:hover{
    cursor:pointer;
    color: #E8B130;
  }