/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
body {
    position: relative;
    font-family: 'Cairo', sans-serif;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    overflow-y: hidden;
}

.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}


#slideshow {
    animation-name: slideshow;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    /*
        cubic-bezier(start of curve, halfway speed, end of curve, 
    */
    animation-timing-function:cubic-bezier(0.5,0,0.5,1);
    animation-delay: 0;
    background: url("https://drscdn.500px.org/photo/1038667203/m%3D900/v2?sig=d8526e4c77606dad9588431d39fcefec9046633011205cf6573433016ad795e5") no-repeat local center;
    background-blend-mode: multiply;
    position: absolute;
    opacity: 0.3;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 120% auto !important;
}

@keyframes slideshow {
    alex joe lucie dylan rachel wedding tyrell kelly
    0% {background: url("https://drscdn.500px.org/photo/1038667203/m%3D900/v2?sig=d8526e4c77606dad9588431d39fcefec9046633011205cf6573433016ad795e5") no-repeat local center;}
    12.5% {background: url("https://drscdn.500px.org/photo/1039045188/m%3D900/v2?sig=0e8a74242db59a6537a465791033e6fd6f0e74e6ba72698121bb4f216fdc9096") no-repeat local center;}
    25% {background: url("https://drscdn.500px.org/photo/1038667204/m%3D900/v2?sig=7e034e0ff0f557502474029afcaa4ae58736d94d33c93a97e127b441333c122b") no-repeat local center;}
    37.5% {background: url("https://drscdn.500px.org/photo/1039045208/m%3D900/v2?sig=42caf12e46e177569ad25afb84a84825316b9129bfcca16b422da280e1928807") no-repeat local center;}
    50% {background: url("https://drscdn.500px.org/photo/1038667205/m%3D900/v2?sig=78d850bbc44ba127ea5fab7d7158bbe8ef90c421042930a43316602d0a4637ed") no-repeat local center;}
    62.5% {background: url("https://drscdn.500px.org/photo/1039045219/m%3D900/v2?sig=182b563035d5ea5f19811e5d97045051316ab01326d80706b3741a6b95258d97") no-repeat local center;}
    75% {background: url("https://drscdn.500px.org/photo/1038667202/m%3D900/v2?sig=a923b7b8b9558aef839e1a7ff8f356fb5d67fc169d4146ca01b72623206702c1") no-repeat local center;}
    87.5% {background: url("https://drscdn.500px.org/photo/1039045179/m%3D900/v2?sig=3d54cd11f4676fa3ad2df3c2e8d68faf02e8454150a8d5ccee150775b9683296") no-repeat local center;}
    100% {background: url("https://drscdn.500px.org/photo/1045635699/m%3D900/v2?sig=1753cfcf81546c1aa9def1ad091dd00b503dd1747b7862ae62162dabe3ee7f7b") no-repeat local center;}
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

    .btn:link, .btn:visited, .btn:active {
        background-color: black;
        color: white;
    }

    .btn:hover {
        background-color: black;
        color: #E8B130;
    }

    #slideshow {
        width: 75%;
    }

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #slideshow {
        width: 75%;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    body {
        overflow-y: initial;
    }

    #slideshow {
        width: 50%;
    }
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #slideshow {
        width: 40%;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

    #slideshow {
        width: 33%;
    }

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    color: white;
    z-index: 8;
    position: relative;
    margin-top: 3em;
    overflow-y: hidden;
}

    header .btn {
        margin-top: 1em;
        margin-left: 2em;
        font-size: 1em;
        background-color: white;
        color: black !important;
    }

    .sig-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        height: 3em;
        margin-bottom: 3em;
    }

        .sig {
            max-height: 2em;
        }

        .sig-box p {
            font-size: 0.7em;
            font-weight: bold;
            text-align: center;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    header {
        background-color: initial;
    }

    header .btn:link, header .btn:visited, header .btn:active {
        background-color: white;
        color: black;
    }

    header .btn:hover {
        background-color: #E8B130 !important;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

#menu-button-container {
    display: none;
}

.navbar {
    position: relative;
    padding: 0;
    z-index: 9;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
}

.active a {
    color: #E8B130 !important;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    padding: 0;
    text-align: center;
}

    .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
        color: white;
        font-size: 1.1em;
    }

/*

    #menu-button-container {
        padding: 0;
    }

        #menu {
            display: flex;
            font-size: 1.5em;
            height: 3em;
            justify-content: center;
            align-items: center;
        }

    */
/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
    .navbar {
        position: relative;
        padding: 0;
        z-index: 9;
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-items: center;
    }
    
    .active a {
        color: #E8B130 !important;
    }
    
    .navbar-collapse {
        padding: 0;
    }
    
    .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
        text-align: center;
    }
    
        .nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active{
            color: white;
            font-size: 1.1em;
        }
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
        
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {

}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

.footer {
    font-size: 1em;
    color: white;
    margin-top: 3em;
}

.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-info {
    text-align: center;
}

.footer-button {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

/*Social Media - Footer*/
.footer-social_media {
    position:relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
  }

  .footer-social_media i {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    text-align: center;
    font-size: 1.8em;
    color: white;
  }
  
  .footer-social_media i:link, .footer-social_media i:visited, .footer-social_media i:active{
    cursor:pointer;
    color: white;
  }
  
  .footer-social_media i:hover{
    cursor:pointer;
    color: #E8B130;
  }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    html {
        height: 100%;
    }

    html::-webkit-scrollbar {
        width: 15px;
        background: black;
    }

    html::-webkit-scrollbar-button {
        display: none;
    }

    html::-webkit-scrollbar-thumb {
        background:#E8B130;
        border-radius: 5px;
    }

    html::-webkit-scrollbar-track {
        background: black;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}








